# Backend Configuration (For Render / Node Server)
API_KEY="your_api_key"
MONGODB_URI="mongodb+srv://abhijith90711_db_user:<db_password>@cluster-1.c7x9riy.mongodb.net/resume_analyzer"
PORT=3000
NODE_ENV="production"

# Frontend Configuration (For Vercel)
VITE_API_URL="https://smart-ai-resume-analyzer-5ez0.onrender.com"
